<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:700" rel="stylesheet">
  </head>
  <nav>
    <div class=nav><h1>Welcome To Birdwatch</h1></div>
  </nav>
  <body>
      <div class=body_text><h3>Birdwatch is an application where you can view information on species <br>
      that have been sighted in your area. One of the aims of birdwatch is to <br>
      observe threat and endangerment data to encourage the preservation of species
      whose habitats are changing and compromising their resources. <br> As bird lovers
      it is imortant to enjoy these species and also advocate for <br> their preservation.<br>
      <br>
      To use Birdwatch <%= link_to "click here" %> and input your state, city or postal code. <br>
      You will then be able to see a list of bird species that and the hotspots around you where
      they have been spotted. Click on an individual species <br> if you are unfamiliar with it to
      learn more about it. Enjoy!</h3>
    </div>
  </body>
  <footer>
    <div class=footer_text><p>admin: chris.ian.powell@gmail.com</p></div>
  </footer>
</html>
