<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:700" rel="stylesheet">
  </head>
  <nav>
    <div class=nav><h1>Welcome To Birdwatch</h1></div>
  </nav>
  <body class=dashboard_body>
      <div class=body_text><h3>Birdwatch is an application where you can view information on species <br>
      that have been sighted in your area. One of the aims of birdwatch is to<br>
      observe threat and endangerment data to encourage the preservation of<br> species
      whose habitats are changing and whose resources are becoming compromised.<br>
      <br>
      To use Birdwatch <%= link_to "click here", locations_path %> and input your zip code or choose a state<br>
      and then a county. You will then see a list of bird species that have been<br> recently spotted near you.
      Click on a link to an individual species' wiki if you are unfamiliar with it to learn more about it. Enjoy!</h3>
    </div>
  </body>
  <footer>
    <div class=footer_text><p>admin: chris.ian.powell@gmail.com</p></div>
  </footer>
</html>
