<!DOCTYPE html>
<html>
  <nav>
    <h1>Welcome To Birdwatch</h1>
  </nav>
  <body>
      <h3>Birdwatch is an application where you can view information on species <br>
      that have been sighted in your area. One of the aims of birdwatch is to <br>
      observe threat and endangerment data to encourage the preservation of species<br>
      whose habitats are changing and compromising their resources. As bird lovers<br>
      it is imortant to enjoy these species and also advocate for their preservation</h3>
  </body>
</html>
