---
http_interactions:
- request:
    method: get
    uri: https://ebird.org/ws2.0/ref/region/list/subnational2/US-CO.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Ebirdapitoken:
      - 2g6867lhoiqj
  response:
    status:
      code: 200
      message: '200'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"code":"US-CO-001","name":"Adams"},{"code":"US-CO-003","name":"Alamosa"},{"code":"US-CO-005","name":"Arapahoe"},{"code":"US-CO-007","name":"Archuleta"},{"code":"US-CO-009","name":"Baca"},{"code":"US-CO-011","name":"Bent"},{"code":"US-CO-013","name":"Boulder"},{"code":"US-CO-014","name":"Broomfield"},{"code":"US-CO-015","name":"Chaffee"},{"code":"US-CO-017","name":"Cheyenne"},{"code":"US-CO-019","name":"Clear
        Creek"},{"code":"US-CO-021","name":"Conejos"},{"code":"US-CO-023","name":"Costilla"},{"code":"US-CO-025","[...]
- request:
    method: get
    uri: https://ebird.org/ws2.0/data/obs/US-CO-031/recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Ebirdapitoken:
      - 2g6867lhoiqj
  response:
    status:
      code: 200
      message: '200'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"speciesCode":"killde","comName":"Killdeer","sciName":"Charadrius
        vociferus","locId":"L2135892","locName":"Westerly Creek Park","obsDt":"2018-09-11
        07:10","howMany":2,"lat":39.7559995,"lng":-104.8790717,"obsValid":true,"obsReviewed":false,"locationPrivate":false},{"speciesCode":"wesmea","comName":"Western
        Meadowlark","sciName":"Sturnella neglecta","locId":"L2135892","locName":"Westerly
        Creek Park","obsDt":"2018-09-11 07:10","howMany":1,"lat":39.7559995,"lng":-104.8790717,"obsValid":true,"obsReviewed":false,"locationPrivate":false},{"speciesCode":"amegfi","comName":"American
        Goldfinch","sciName":"Spinus tristis","locId":"L2853694","locName":"Confluence
        & Commons Parks","obsDt":"2018-09-11 06:44","howMany":1,"lat":39.[...]
