---
http_interactions:
- request:
    method: get
    uri: https://geoservices.tamu.edu/Services/Geocode/WebService/GeocoderWebServiceHttpNonParsed_V04_01.aspx?apikey=dbf8cc04c0d94614ba89fbdf13c71c0d&format=json&version=4.01&zip=80203
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "{\r\n\t\"version\" : \"4.01\",\r\n\t\"TransactionId\" : \"ce1cadb1-399a-4940-b072-4de0b1b2b129\",\r\n\t\"Version\"
        : \"4.01\",\r\n\t\"QueryStatusCodeValue\" : \"200\",\r\n\t\"FeatureMatchingResultType\"
        : \"Success\",\r\n\t\"FeatureMatchingResultCount\" : \"2\",\r\n\t\"TimeTaken\"
        : \"0.0156248\",\r\n\t\"ExceptionOccured\" : \"False\",\r\n\t\"Exception\"
        : \"\",\r\n\t\"InputAddress\" :\r\n\t\t{\r\n\t\t\"StreetAddress\" : \"80203\",\r\n\t\t\"City\"
        : \"\",\r\n\t\t\"State\" : \"\",\r\n\t\t\"Zip\" : \"80203\"\r\n\t\t},\r\n\t\"OutputGeocodes\"
        :\r\n\t[\r\n\t\t{\r\n\t\t\"OutputGeocode\" :\r\n\t\t\t{\r\n\t\t\t\"Latitude\"
        : \"39.731434\",\r\n\t\t\t\"Longitude\" : \"-104.981595\",\r\n\t\t\t\"NAACCRGISCoordinateQualityCode\"
        : \"09\",\r\n\t\t\t\"NAACCRGISCoordinateQualityType\" : \"AddressZIPCentroid\",\r\n\t\t\t\"MatchScore\"
        : \"60\",\r\n\t\t\t\"MatchType\" : \"Relaxed;Soundex\",\r\n\t\t\t\"FeatureMatchingResultType\"
        : \"Success\",\r\n\t\t\t\"FeatureMatchingResultCount\" : \"1\",\r\n\t\t\t\"FeatureMatchingGeographyType\"
        : \"USPSZip\",\r\n\t\t\t\"RegionSize\" : \"0\",\r\n\t\t\t\"RegionSizeUnits\"
        : \"Meters\",\r\n\t\t\t\"MatchedLocationType\" : \"LOCATION_TYPE_USPS_ZIP_CODE\",\r\n\t\t\t\"ExceptionOccured\"
        : \"False\",\r\n\t\t\t\"Exception\" : \"\",\r\n\t\t\t\"ErrorMessage\" : \"\"\r\n\t\t\t}\r\n\t\t}\r\n\t]\r\n}\r\n"
  recorded_at: Sun, 16 Sep 2018 20:23:41 GMT
[...]
- request:
    method: get
    uri: https://ebird.org/ws2.0/data/obs/geo/recent?lat=39.731434&lng=-104.981595
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Ebirdapitoken:
      - 2g6867lhoiqj
  response:
    status:
      code: 200
      message: '200'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"speciesCode":"eucdov","comName":"Eurasian Collared-Dove","sciName":"Streptopelia
        decaocto","locId":"L6434561","locName":"Thornton Home","obsDt":"2018-09-16
        08:54","howMany":2,"lat":39.90624,"lng":-104.953184,"obsValid":true,"obsReviewed":false,"locationPrivate":true},{"speciesCode":"moudov","comName":"Mourning
        Dove","sciName":"Zenaida macroura","locId":"L6434561","locName":"Thornton
        Home","obsDt":"2018-09-16 08:54","howMany":1,"lat":39.90624,"lng":-104.953184,"obsValid":true,"obsReviewed":false,"locationPrivate":true},{"speciesCode":"dowwoo","comName":"Downy
        Woodpecker","sciName":"Dryobates pubescens","locId":"L6434561","locName":"Thornton
        Home","obsDt":"2018-09-16 08:54","howMany":1,"lat":39.90624,"lng":-104.953184,"obs[...]
[...]
