---
http_interactions:
- request:
    method: get
    uri: https://geoservices.tamu.edu/Services/Geocode/WebService/GeocoderWebServiceHttpNonParsed_V04_01.aspx?apikey=dbf8cc04c0d94614ba89fbdf13c71c0d&format=json&version=4.01&zip=80203
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "{\r\n\t\"version\" : \"4.10\",\r\n\t\"TransactionId\" : \"21d1e47f-6aac-4326-846a-9812db838377\",\r\n\t\"Version\"
        : \"4.1\",\r\n\t\"QueryStatusCodeValue\" : \"200\",\r\n\t\"FeatureMatchingResultType\"
        : \"Success\",\r\n\t\"FeatureMatchingResultCount\" : \"1\",\r\n\t\"TimeTaken\"
        : \"0.0468642\",\r\n\t\"ExceptionOccured\" : \"False\",\r\n\t\"Exception\"
        : \"\",\r\n\t\"InputAddress\" :\r\n\t\t{\r\n\t\t\"StreetAddress\" : \"80203\",\r\n\t\t\"City\"
        : \"\",\r\n\t\t\"State\" : \"CO\",\r\n\t\t\"Zip\" : \"80203\"\r\n\t\t},\r\n\t\"OutputGeocodes\"
        :\r\n\t[\r\n\t\t{\r\n\t\t\"OutputGeocode\" :\r\n\t\t\t{\r\n\t\t\t\"Latitude\"
        : \"39.731434\",\r\n\t\t\t\"Longitude\" : \"-104.981595\",\r\n\t\t\t\"NAACCRGISCoordinateQualityCode\"
        : \"09\",\r\n\t\t\t\"NAACCRGISCoordinateQualityType\" : \"AddressZIPCentroid\",\r\n\t\t\t\"MatchScore\"
        : \"60\",\r\n\t\t\t\"MatchType\" : \"Relaxed;Soundex\",\r\n\t\t\t\"FeatureMatchingResultType\"
        : \"Success\",\r\n\t\t\t\"FeatureMatchingResultCount\" : \"1\",\r\n\t\t\t\"FeatureMatchingGeographyType\"
        : \"USPSZip\",\r\n\t\t\t\"RegionSize\" : \"0\",\r\n\t\t\t\"RegionSizeUnits\"
        : \"Meters\",\r\n\t\t\t\"MatchedLocationType\" : \"LOCATION_TYPE_USPS_ZIP_CODE\",\r\n\t\t\t\"ExceptionOccured\"
        : \"False\",\r\n\t\t\t\"Exception\" : \"\",\r\n\t\t\t\"ErrorMessage\" : \"\"\r\n\t\t\t}\r\n\t\t}\r\n\t]\r\n}\r\n"
  recorded_at: Thu, 13 Sep 2018 15:19:10 GMT
[...]
- request:
    method: get
    uri: https://ebird.org/ws2.0/data/obs/geo/recent?lat=39.731434&lng=-104.981595
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Ebirdapitoken:
      - 2g6867lhoiqj
  response:
    status:
      code: 200
      message: '200'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"speciesCode":"comnig","comName":"Common Nighthawk","sciName":"Chordeiles
        minor","locId":"L520497","locName":"Garland Park","obsDt":"2018-09-12 19:30","howMany":10,"lat":39.6948377,"lng":-104.9179745,"obsValid":true,"obsReviewed":false,"locationPrivate":false},{"speciesCode":"brthum","comName":"Broad-tailed
        Hummingbird","sciName":"Selasphorus platycercus","locId":"L2649767","locName":"US-CO-Littleton-4901-4989
        S Nelson St","obsDt":"2018-09-12 19:13","howMany":1,"lat":39.626877,"lng":-105.117487,"obsValid":true,"obsReviewed":false,"locationPrivate":true},{"speciesCode":"cangoo","comName":"Canada
        Goose","sciName":"Branta canadensis","locId":"L804513","locName":"Chatfield
        SP--N Boat Ramp area","obsDt":"2018-09-12 19[...]
[...]
